@import "node_modules/bootstrap/scss/bootstrap";

.cover-heading{
    font-size: 60px;
    color: #17a2b8;
    font-family: 'Playfair Display' , Arial, Helvetica, sans-serif ;
     }
.lead1{
    font-size: large;
    font-family: 'Roboto' , Arial, Helvetica, sans-serif ;
}
