@import "node_modules/bootstrap/scss/bootstrap";

.cover-heading{
    font-size: 120px;
    color: white;
    font-family: 'Playfair Display' , Arial, Helvetica, sans-serif ;
     }
.lead1{
    font-size: large;
    color: white;
    font-family: 'Roboto' , Arial, Helvetica, sans-serif ;
}


.text-center {
    background:  url(eye2.jpg) center center fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.btn{
    color:white;
    font-family: 'Roboto' , Arial, Helvetica, sans-serif ;
}
.btn-hover {
    color:white;
}

.nav-item{
    color: #f0ad4e;
}

.lead1 {
	font-size: 30px;
  color: #fff;

}


.nav-item{
    border-width: medium;
    font-family: 'Roboto' , Arial, Helvetica, sans-serif ;
}

.navbar-brand{
    border-width: medium;
    font-family: 'Roboto' , Arial, Helvetica, sans-serif ;
}

